<!doctype html>
<html>
   <body>
      <h1>Welcome!</h1>
    

      <form action="/player" method="POST"> 
        <label for="player_select"> Pick a player: </label>
        <select name="player" id="player_select">
        <option value=">--Please choose an option--"</option>
        <option value="LeBron" >Lebron James</option>
        <option value="Kevin" >Kevin Durant</option>
        <option value="Anthony" >Anthony Davis</option>
        <input type="submit" value="Submit">
    </select>
   </body>
</html>

